include ../head.pug
body
    .container.mt-5
      h1 List
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Title
            th(scope="col") Author
            th(scope="col") Genre
            th(scope="col") Rating
            th(scope="col") Date Finished
            th(scope="col") Actions
        tbody
          tr
            td 1
            td Pride and Prejudice
            td Jane Austen
            td Fiction
            td 5
            td 08/04/2025 13:56
            td
              button.btn.btn-primary.btn-sm Edit
              button.btn.btn-danger.btn-sm Delete
          tr
            td 2
            td Whispers of the Forgotten Vale
            td Elara Winslow
            td Fantasy
            td 4
            td 24/02/2025 14:15
            td
              button.btn.btn-primary.btn-sm Edit
              button.btn.btn-danger.btn-sm Delete
